@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Playwrite DE Grund", cursive;
}
body{
    background-color: #f1f6fc31;
}
section,
footer{
    padding: 54px 0;
}
h3{
    font-size: 50px;
}
p{
    color: #0000009c;
    margin: 5px 0 10px 0;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}
.btnLogin{
    background-color: #4f9cf9;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
}
.btnLogin:hover{
    background-color: #3580db;
}
header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul a{
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}
nav ul a:not(.btnLogin)::after{
    content: "";
    background-color: blue;
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.5s;
}
nav ul a:hover::after{
    width: 100%;
}
nav .menu-icon{
    cursor: pointer;
    font-size: 25px;
    color: white;
    display: none;
}
nav .close-icon{
    display: none;
    font-size: 30px;
    color: white;
}
.banner{
    display: flex;
    justify-content: center;
}
.banner .banner-text{
    margin: 10px 150px;
    text-align: center;
    padding: 0 10px;
}
.banner .banner-text h1{
    font-size: 96px;
    color: white;
}
.banner .banner-text p{
    font-size: 20px;
    color: #ffffffb7;
    font-weight: lighter;
    padding: 30px;
}
/* apresentação */
.apresentacao .container{
    display: flex;
    align-items: center;
}
.apresentacao .apresentacao-txt{
    width: 50%;
    padding: 0 40px;
}
.apresentacao .apresentacao-txt h3{
    font-size: 56px;
}
.apresentacao .apresentacao-txt p{
    margin: 5px 0 10px 0;
}
.apresentacao .apresentacao-img{
    width: 50%;
    padding: 0 40px;
}
.apresentacao .apresentacao-img img{
    width: 100%;
}
.apresentacao1{
    background-color: blue;
}
.apresentacao1 h3{
    text-align: center;
}
.apresentacao1 p{
    margin-bottom: 20px;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: center;
}
.apresentacao1 .card-item{
    background-color: #d3e6fd;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
    transition: 0.3s;
}
.apresentacao1 .card-item img{
    border-radius: 100%;
    width: 80px;
    display: block;
    margin: 10px auto;
}
.apresentacao1 .card-item .titulo-ideia{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
    transition: 0.3s;
}
.apresentacao1 .card-item .descr-ideia{
    font-size: 15px;
    padding: 0 15px;
    transition: 0.3s;
}
.apresentacao1 .card-item .rodape{
    margin: 15px 0;
    border-top: 2px solid #71767a23;
}
.apresentacao1 .card-item .rodape p{
    color: #4f9cf9;
    margin-top: 15px;
    font-size: 20px;
    transition: 0.3s;
}
.apresentacao1 .card-item:hover{
    background-color: #4f9cf9;
    margin-top: -5px;
}
.apresentacao1 .card-item:hover .titulo-ideia, 
.apresentacao1 .card-item:hover .descr-ideia,
.apresentacao1 .card-item:hover .rodape p{
    color: white;
}
.recursos h3,
.recursos p{
    text-align: center;
}
.recursos .container div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer{
    background-color: blue;
    text-align: center;
}
.footer p{
    color: white;
}
@media(max-width: 830px){
    .ul{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #184b88;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        clip-path: circle(0% at 100% 0);
        transition: 0.7s;
    }
    .ul.open{
        clip-path: circle(141.2% at 100% 0);
    }
    .ul a{
        margin: 10px 0;
        font-size: 16px;
    }
    nav .menu-icon{
        display: block;
    }
    nav .close-icon{
        display: block;
        position: absolute;
        top: 34px;
        right: 28px;
    }
}